h2{
    background-color: brown;
    color: white;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    margin-bottom: 30px;
    margin-top: 20px;
    height: 90px;
    padding-top: 40px;
}
.preview{
    width: 100px;
    height: 100px;
    display: inline-block;
    
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid black;
}
div{
    padding-left: 120px;
}
/* body{
    background-image: linear-gradient(to bottom right, orange,white, green);
} */
/* body{
    background-color: rgb(248, 248, 108);
} */
body{
    background-image: url(aaaa.jpg);
    background-size: cover;
}
/* body{
    background-image: url(aaa.png);
    background-size: ;
    background-repeat: no-repeat;
} */